.mx .treeListView
{
	width: auto;
    position:relative;
    overflow:hidden;
    border-top:1px solid #E2E3EA;
    border-left:1px solid #E2E3EA;
    border-bottom:1px solid #E3E9EF;
    border-right:1px solid #DBDFE6;        
    cursor:default;   
}


.mx .treeListView table
{
	table-layout:fixed; 
    width: 100%; 
    border-right: 1px solid #E3E8EE; 
}


.mx .treeListView #view1 #rownumber, .mx .treeListView #view1 #checkbox
{
	width: 49px;
}

.mx .treeListView  table > tbody > tr >td
{
    white-space:nowrap;
    overflow:hidden;
}



/**
 *  head
 */
.mx .treeListView  #head
{
    background:#FAFAFA; 
    overflow:hidden;
    border-bottom:1px solid #E3E8EE;   
    
}

.mx .treeListView #view2 #head > table > tbody > tr
{
	line-height:24px;
	height: 24px;	
}

.mx .treeListView  #head > table > tbody > tr > td
{
	background: url("images/treelistview_head_bg.png") repeat-x  #FAFAFA;
	background-position: bottom left;
}

.mx .treeListView  #head > table > tbody > tr > td > div
{		
	white-space:nowrap;
    overflow:hidden;
	padding-left:5px;
    padding-right:5px; 
	line-height:24px;
	height: 24px;
	position: relative;
	cursor: default;
	vertical-align: middle;
}

.mx .treeListView  #thead
{
    height: 0px;
}


/**
 *	body
 */
.mx .treeListView  #body > table > tbody > tr > td
{
    border-right:1px solid #E3E8EE;      
    border-bottom:1px solid #E3E8EE; 
	line-height: 21px;
}

.mx .treeListView  #body > table > tbody > tr.even
{    
    background:#F5F5F5;
}

.mx .treeListView  #body > table > tbody > tr.over
{              
    background:url(images/data_grid_body_tr_hover.png) repeat-x center center;    
}

.mx .treeListView  #body > table > tbody > tr.selected
{    
    background:url(images/data_grid_body_tr_selected.png) repeat-x center center;
}

.mx .treeListView   #body > table > tbody > tr >td >div
{
   width: 100%;
   height: 21px;
   position: relative;
}


/**
 *	view1
 */
.mx .treeListView  #view1
{   
	position:absolute;
	left:0px;
	top:0px;
    bottom:0px;
    width: 0px;
}

.mx .treeListView  #view1> #body
{    
	position: absolute;
    overflow:hidden;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin-bottom:18px\9;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { .mx .treeListView  #view1> #body
{ 
	padding-bottom:18px;
}}

.mx .treeListView #view1 > #body  tr > td#rownumber 
{   
	background: url("images/treelistview_head_bg.png") repeat-x #FAFAFA;
	background-position-x: left;
	background-position-y: bottom;
	height: 21px;
}

.mx .treeListView  #view1 table > tbody > tr.checked > td#checkbox span
{
    background-image:url(images/check_editor_checked.png);
}

.mx .treeListView  #view1 table > tbody > tr > td#checkbox span
{        
    position:relative;
    display:block;   
    width:100%;
    height:16px;
    top:3px;  
	vertical-align:middle;           
    background:url(images/check_editor_unchecked.png) no-repeat  center center;
}



.mx .treeListView  #view
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}



/**
 *	view2
 */
.mx .treeListView  #view2
{
	height:100%;
}


.mx .treeListView  #view2_inner
{
	position: relative;
	width: 100%;
	height:100%;
}

.mx .treeListView  #view2_inner > #body
{    
    overflow-y:scroll;
    overflow-x:auto;
    position: absolute;
    left: 0px;
    bottom:0px;
    right: 0px;
}

.mx .treeListView #head > table > tbody > tr > td.head-cellgroup
{
	border-right:1px solid #E3E8EE;     
    border-bottom:1px solid #E3E8EE;  
}

.mx .treeListView  #head > table > tbody > tr > td.head-cell
{
	border-right:1px solid #E3E8EE;      
}

.mx .treeListView  #view2_inner > #head > table > tbody > tr > td.head-cell:hover
{
    background:  #FAFAFA;
}

.mx .treeListView  #view2_inner > #head > table > tbody > tr > td.head-cell:active
{				
	background:rgb(238, 238, 238);
}

.mx .treeListView  #view2_inner > #head > table > tbody > tr > td span
{       
    display:inline-block;  
    width: 100%;
    height: 100%;
}

.mx .treeListView  #view2_inner > #body > table tr > td > div >#expandor
{
	position: absolute;
    display:inline-block;
    top: 2px;
    width:16px;
    height:16px;
    background:url(images/expandable_collapse.png) center right no-repeat;
}
.mx .treeListView  #view2_inner > #body > table tr > td > div >#expandor:hover
{
     background:url(images/expandable_collapse_hover.png) center right no-repeat;
}
.mx .treeListView  #view2_inner > #body > table tr.selected > td > div >#expandor:hover
{
     background:url(images/expandable_collapse_selected_hover.png) center right no-repeat;
}

.mx .treeListView  #view2_inner > #body > table tr.item > td > div >#expandor
{
    background-image:none;  
}
.mx .treeListView  #view2_inner > #body > table tr.item.selected > td > div >#expandor
{
    background-image:none;  
}

.mx .treeListView  #view2_inner > #body > table tr.expanded > td > div >#expandor
{
    background:url(images/expandable_expand.png) center right no-repeat;
}
.mx .treeListView  #view2_inner > #body > table tr.expanded > td > div >#expandor:hover
{
    background:url(images/expandable_expand_hover.png) center right no-repeat;
}
.mx .treeListView  #view2_inner > #body > table tr.expanded.selected > td > div >#expandor:hover
{
    background:url(images/expandable_expand_selected_hover.png) center right no-repeat;
}

.mx .treeListView  #view2_inner > #body > table tr.item > td > div >#expandor
{
    background-image:none;  
}

.mx .treeListView  #view2_inner > #body > table tr > td > div > img
{
	position: absolute;
	top: 2px;
    width:16px;
    height:16px;
    margin-right:3px;
    vertical-align:middle;
    background-repeat:no-repeat;
    background-position:center center;
}

.mx .treeListView #view2_inner > #body > table tr > td > div > #text
{
	top: 2px;
    vertical-align:middle;
    position: absolute;
    display:block;  
}



/**
 * disabled
 */
.mx .treeListView.disabled
{
    background-color:#F0F0F0;
}

.mx .treeListView.disabled  #view2_inner > #head > table > tbody > tr > td:hover
{
    background-image:none;
    border-right:1px solid #E3E8EE;
}

.mx .treeListView.disabled  #view2_inner > #body > table > tbody > tr:hover,
.mx .treeListView.disabled  #view2_inner > #body > table > tbody > tr.selected
{
    border:1px solid transparent;
    background:none;
}
.mx .treeListView.disabled  #view2_inner > #body > table > tbody > tr >td
{
    color:#555555;
}

.mx .treeListView.disabled  #view2_inner > #body > table tr > td > div >#expandor:hover
{
    background:url(images/expandable_collapse.png) center right no-repeat;
}
.mx .treeListView.disabled  #view2_inner > #body > table tr.expanded > td > div >#expandor:hover
{
    background:url(images/expandable_expand.png) center right no-repeat;
}
.mx .treeListView.disabled  #view2_inner > #body > table tr.item > td > div >#expandor
{
    background-image:none;  
}
